<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/8770e4b6-f2b5-4824-9411-81d82e8cce10/resourcegroups/UnitedHub/providers/Microsoft.ContainerRegistry/registries/WasfatyInvoiceProcessor20260331133759</ResourceId>
    <ResourceName>WasfatyInvoiceProcessor20260331133759</ResourceName>
    <ResourceGroup>UnitedHub</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>wasfatyinvoiceprocessor20260331133759.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>